body{
	margin:0;
	background-color:#588157;
	color:#DAD7CD;
	font-family:"Arial";
}
header{
	background-color:#E76F51;
	text-align:center;
	margin-top:0;
	margin-bottom: 0px;
	font-style:italic;
}
h1{
	margin-top:0;
	margin-bottom:0;
	
}
a{
	text-decoration:none;
	color:black;
}
h2{
	background-color:#587197;
	margin-bottom:0;
	color:#DAD7CD;
	font-style:italic;
	text-align:center;
	margin-top:0;
}
table,th,td{
	background-color:#a157;
	text-align:center;
	border:10px ;
	
}
.tabl{
	background-color:#dad7cd;
}
p{
	margin-top:0;
	color:black;
}
nav{
	font-family:"Ubuntu";
	background-color:#a15b7;
	margin-bottom:0;
	text-align:center;
}
.navi{
	text-decoration:underline;
	color:#8631cc;
	font-weight:bold;
}
.logoW{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 15px;
}
#r{
	display: flex;
	flex-direction: row;	
	align-items:center;
}
#r img{
	flex: 1;
	order: 1;
}
#r h1{
	flex: 1;
	order: 2;
}
footer{
	margin-bottom:0;
}













