@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.calculator {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    font-family: "Ubuntu";
}
h2{
    font-size: 43px;
    background-color: #51e7cc83;
    margin:0;
    margin-bottom:10px;
    margin-top:0;
    font-style:italic;
    text-align:center;
    border-radius: 50px;
    padding: 8px;
    border-right: 4px solid #007bff;
    border-left: 4px solid #007bff;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfhpl22EE4NFBoDPneKLeZbVpSscZuF8Pyag&s");
    font-family:"Ubuntu";
    font-style:bold;
    font-size: 25px;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    
}
select{
    padding: 8px;
    border: 2px solid #007bff;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:  #e9e4e383;
}
input, button {
    padding: 8px;
    border: 2px solid #007bff;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"] {
    width: 100%;background-color: #e9e4e383;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #51e7cc83;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border-right: 4px solid #007bff;
    border-left: 4px solid #007bff;
}
.error {
    color: #f60b0b;
    font-size: 15px;
    margin-top: 5px;
}
.hidden {
    display: none;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 8px;
}
.radio-option input[type="radio"] {
    width: auto;
}