@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
h1{
    font-size: 43px;
    background-color: #51e7cc83;
    margin:0;
    margin-bottom:10px;
    margin-top:0;
    font-style:italic;
    text-align:center;
    border-radius: 50px;
    padding: 8px;
    border-right: 4px solid #007bff;
    border-left: 4px solid #007bff;
}
form{
    font-weight: 700;
}
.form-group {
    margin-bottom: 20px;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfhpl22EE4NFBoDPneKLeZbVpSscZuF8Pyag&s");
    font-family:"Ubuntu";
    font-style:bold;
    font-size: 25px;
}

input.error {
    border-color: #ff0000;
    background-color: #ffe6e6;
}

.error-message {
    color: #f60b0b;
    font-size: 15px;
    margin-top: 5px;
}
button {
    background-color: #40afdf;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color:#51e7cc83;
    border-radius: 4px;
    border-left: 4px solid #007bff;
    border-right: 4px solid #007bff;
}
input{
    background-color: #e787d7;
}
.inp{
    background-color: #e787d7;
}
